$tailleCase: 18vmax;
$couleurPrincipal : rgb(58, 77, 144);
$couleurSecondaire : #b3555a;


@mixin listeMus {
  min-width : 20vmax;
  max-width: 20vmax;
  text-align: left;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a{
  text-decoration: none;
}

#principal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  // align-items: center;
  // flex-wrap: wrap;
  width: 100vmax;
  height: 95vh;
}

.container{
  order: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.boutonAcces{
  width: $tailleCase;
  height: $tailleCase;
  border: 0.5vmax inset $couleurPrincipal;
  transition: all 0.5s ease-out;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  &:hover{
    border: 0.5vmax ridge $couleurSecondaire;
  }
}

#accesVideo{
  background-image: url("../data/accesVideo.png");
}

#accesMusique{
  background-image: url("../data/accesMusique.png");
}

#bienvenue{
  font-size: 2em;
  font-family: 'Signika',sans-serif;
}


#listePrincipal{
  order: 3;
  width: 100%;
  overflow-y: scroll;
}
#liste{
  order: 2;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

#barTri{
  position: absolute;
  text-align: left;
  max-width: 70vmax;
}

// #barTri,.ligne{
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//   }

.bartri{
  @include listeMus();
}
.duree{
  min-width: 5vmax;
  max-width: 5vmax;
}
// navbar

.navbar,.menu{
  display: flex;
  flex-direction: row;
  color: rgb(230, 220, 220);
  background-color: rgb(27, 27, 27);
}
.navbar{
  width: 100vmax;
  align-items: center;
}
.menu{
  justify-content: space-around;
  width: 100%;
  font-size: 1.5em;
  cursor: default;
}

.containMenu{
  color: rgb(199, 195, 195);
  background-color: $couleurPrincipal;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  font-size: 0.8em;
}

.containedItems{
  cursor: default;
  color: rgb(199, 195, 195);
}

.ligne{
  font-size: 0.9em;
  text-align: center;
  display: flex;
  transition: all 0.2s ease-in-out;
  border: 2px ridge rgba(210, 48, 48, 0.65);
  &:hover{
    background-color: rgba(103, 93, 181, 0.53);
  }
}
.playing{
  background-color: #82B7B4;
}
.hoverThing:hover{
    transition: all 0.2s linear;
    color: $couleurSecondaire;
}

#menuVideo:hover > #containVideo{
    transition: all 0.4s ease-out;
    height: 4em;
}
#menuMusique:hover > #containMusique{
    transition: all 0.4s ease-out;
    height: 4em;
}

#deconnexion{
  color: rgb(59, 66, 163);
  text-shadow: 2px 2px  rgb(27, 7, 7);
  &:hover{
    transition: all 0.2s linear;
    color: $couleurSecondaire;
    text-shadow:  2px 2px rgb(6, 6, 28);
  }
}

#containerleft{
  order: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 89vmax;
  right: 0;
}

// menu playlist

#playlistContainer{
  order: 1;
  height: 100%;
  width: 10vmax;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

// lecteur
  #containerAudio{
    order: 1;
    height: 15vmin;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  // control player
    #player{
      order: 1;
      width: 100%;
    }
    .audioButton{
      text-align: center;
      justify-content: center;
      transition: all 0.3s ease-out;
      background-color: #dedede;
      border-radius: 25%;
      width: 15vmax;
      &:hover{
        background-color: rgba(24, 47, 131, 0.72);
        color: white;
      }
    }
    #next{
      order: 3;
    }
    #previous{
      order: 2;
    }
  // afficheur
    #afficheur{
      order: 5;
      width: 100%;
    }


// playlist maker
  #playtlistMaker{
    background-color: rgb(107, 107, 107);
    position: absolute;
    left: 20vmax;
    top: 20vmax;
    
  }
