* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif; }

a {
  text-decoration: none; }

#principal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vmax;
  height: 95vh; }

.container {
  order: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%; }

.boutonAcces {
  width: 18vmax;
  height: 18vmax;
  border: 0.5vmax inset #3a4d90;
  transition: all 0.5s ease-out;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }
  .boutonAcces:hover {
    border: 0.5vmax ridge #b3555a; }

#accesVideo {
  background-image: url("../data/accesVideo.png"); }

#accesMusique {
  background-image: url("../data/accesMusique.png"); }

#bienvenue {
  font-size: 2em;
  font-family: 'Signika',sans-serif; }

#listePrincipal {
  order: 3;
  width: 100%;
  overflow-y: scroll; }

#liste {
  order: 2;
  display: flex;
  flex-direction: column;
  overflow-y: hidden; }

#barTri {
  position: absolute;
  text-align: left;
  max-width: 70vmax; }

.bartri {
  min-width: 20vmax;
  max-width: 20vmax;
  text-align: left;
  padding-left: 0.5vmax; }

.duree {
  min-width: 5vmax;
  max-width: 5vmax; }

.navbar, .menu {
  display: flex;
  flex-direction: row;
  color: #e6dcdc;
  background-color: #1b1b1b; }

.navbar {
  width: 100vmax;
  align-items: center; }

.menu {
  justify-content: space-around;
  width: 100%;
  font-size: 1.5em;
  cursor: default; }

.containMenu {
  z-index: 2;
  color: #c7c3c3;
  background-color: #3a4d90;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  font-size: 0.8em; }

.containedItems {
  cursor: default;
  color: #c7c3c3; }

.ligne {
  margin: 0.8vmin 0.2vmax;
  font-family: 'arimo',sans-serif;
  min-height: 3em;
  font-size: 0.9em;
  text-align: center;
  display: flex;
  align-items: center;
  border: 2px ridge rgba(152, 66, 66, 0.65); }
  .ligne:hover {
    background-color: rgba(103, 93, 181, 0.53); }

.titre {
  margin-left: 0.2vmax; }

.playing {
  background-color: #82B7B4; }

.hoverThing:hover {
  transition: all 0.2s linear;
  color: #b3555a; }

#menuVideo:hover > #containVideo {
  transition: all 0.4s ease-out;
  height: 4em; }

#menuMusique:hover > #containMusique {
  transition: all 0.4s ease-out;
  height: 4em; }

#deconnexion {
  color: #3b42a3;
  text-shadow: 2px 2px #1b0707; }
  #deconnexion:hover {
    transition: all 0.2s linear;
    color: #b3555a;
    text-shadow: 2px 2px #06061c; }

#containerleft {
  order: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 89vmax;
  right: 0; }

#playlistContainer {
  order: 1;
  height: 100%;
  width: 10vmax;
  display: flex;
  flex-direction: column;
  overflow: scroll; }

#containerAudio {
  z-index: 1;
  order: 1;
  min-height: 15vmin;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

#player {
  order: 1;
  width: 100%; }

.audioButton {
  text-align: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  background-color: #dedede;
  border-radius: 25%;
  width: 15vmax;
  max-height: 3vmin;
  margin: 0.3vmin 1.2vmax; }
  .audioButton:hover {
    background-color: rgba(24, 47, 131, 0.72);
    color: white; }

#next {
  order: 3; }

#previous {
  order: 2; }

#afficheur {
  order: 5;
  width: 95%; }

.afg {
  margin-left: 1vmax;
  display: flex;
  flex-direction: row; }

#afgSpanTitre, #afgSpanAlbum {
  border-bottom: 0.4vmin dotted rgba(0, 0, 0, 0.39); }

#playtlistMaker {
  background-color: rgba(107, 107, 107, 0.53);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vmin;
  width: 100vmax;
  display: flex;
  justify-content: center;
  align-items: center; }

#addPlaylist {
  text-align: center;
  font-weight: bolder;
  border: 0px solid currentColor;
  border-radius: 20%;
  background-color: #ffbc00; }

/*# sourceMappingURL=style.css.map */
