* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif; }

body {
  background-color: #e6e6e6; }

a {
  text-decoration: none; }

#principal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vmax;
  height: 95vh; }

.container {
  order: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%; }

.boutonAcces {
  width: 18vmax;
  height: 18vmax;
  border: 0.5vmax inset #3a4d90;
  transition: all 0.5s ease-out;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }
  .boutonAcces:hover {
    border: 0.5vmax ridge #b3555a; }

#accesVideo {
  background-image: url("../data/accesVideo.png"); }

#accesMusique {
  background-image: url("../data/accesMusique.png"); }

#bienvenue {
  font-size: 2em;
  font-family: 'Signika',sans-serif; }

.navbar, .menu {
  display: flex;
  flex-direction: row;
  color: #e6dcdc;
  background-color: #1b1b1b; }

.navbar {
  width: 100vmax;
  align-items: center; }

.menu {
  justify-content: space-around;
  width: 100%;
  font-size: 1.5em;
  cursor: default; }

.containMenu {
  z-index: 2;
  color: #c7c3c3;
  background-color: #3a4d90;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  font-size: 0.8em; }

.containedItems {
  cursor: default;
  color: #c7c3c3; }

.hoverThing:hover {
  transition: all 0.2s linear;
  color: #b3555a; }

#menuVideo:hover > #containVideo {
  transition: all 0.4s ease-out;
  height: 4em; }

#menuMusique:hover > #containMusique {
  transition: all 0.4s ease-out;
  height: 4em; }

#deconnexion {
  color: #8a90e4;
  text-shadow: 2px 2px #1b0707; }
  #deconnexion:hover {
    transition: all 0.2s linear;
    color: #b3555a;
    text-shadow: 2px 2px #06061c; }

.ligne {
  margin: 0.8vmin 0.2vmax;
  font-family: 'arimo',sans-serif;
  min-height: 3em;
  font-size: 0.9em;
  text-align: center;
  display: flex;
  align-items: center;
  border: 2px ridge rgba(152, 66, 66, 0.65); }
  .ligne:hover {
    background-color: rgba(103, 93, 181, 0.53); }

.titre {
  margin-left: 0.2vmax; }

.playing {
  background-color: #8fb1d4; }

#listePrincipal {
  order: 3;
  width: 100%;
  overflow-y: scroll; }

#liste {
  order: 2;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 100%;
  transition: all 0.2s ease-in; }

.bartri {
  min-width: 20vmax;
  max-width: 20vmax;
  text-align: left;
  padding-left: 0.5vmax; }

.duree {
  min-width: 5vmax;
  max-width: 5vmax; }

thead {
  background-color: #e0dddd; }

#selected {
  background-color: rgba(60, 190, 254, 0.63); }

#containerleft {
  order: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 89vmax;
  right: 0; }

#containerAudio {
  z-index: 1;
  order: 1;
  min-height: 18vmin;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

#player {
  order: 1;
  width: 100%; }

.audioButton {
  text-align: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  background-color: #fffbfb;
  border-radius: 25%;
  width: 15vmax;
  max-height: 3vmin;
  margin: 0.3vmin 1.2vmax; }
  .audioButton:hover {
    background-color: rgba(24, 47, 131, 0.72);
    box-shadow: -3px 4px 2px 0px rgba(0, 0, 0, 0.75);
    color: white; }

.hoverJs {
  background-color: rgba(24, 47, 131, 0.72);
  color: white; }

#next {
  order: 4; }

#previous {
  order: 2; }

#goto {
  order: 3; }

#afficheur {
  order: 6;
  width: 95%; }

.afg {
  margin-left: 1vmax;
  display: flex;
  flex-direction: row; }

#afgSpanTitre, #afgSpanAlbum {
  border-bottom: 0.4vmin dotted rgba(0, 0, 0, 0.39); }

#containerResearch {
  order: 7;
  display: flex;
  flex-direction: row; }

#playlistContainer {
  order: 1;
  height: 100%;
  width: 10vmax;
  display: flex;
  flex-direction: column;
  overflow: scroll; }

#playtlistMaker {
  background-color: rgba(107, 107, 107, 0.53);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vmin;
  width: 100vmax;
  display: flex;
  justify-content: center;
  align-items: center; }

#addPlaylist {
  order: 2;
  background-color: rgba(255, 188, 0, 0.63);
  transition: all 0.2s linear; }
  #addPlaylist:hover {
    background-color: rgba(255, 188, 0, 0.82);
    box-shadow: -3px 4px 2px 0px rgba(0, 0, 0, 0.75); }

#buttonBack {
  order: 1;
  background-color: rgba(0, 48, 255, 0.27);
  transition: all 0.2s ease-in;
  overflow: hidden; }
  #buttonBack:hover {
    background-color: rgba(0, 47, 251, 0.65);
    box-shadow: -3px 4px 2px 0px rgba(0, 0, 0, 0.75); }

.playlistButton {
  text-align: center;
  font-weight: bolder;
  border-radius: 20%;
  margin: 2vmin; }

.playlist {
  padding: 1vmin 2vmax;
  transition: all 0.4s linear; }
  .playlist:hover {
    background-color: rgba(103, 93, 181, 0.53); }

.selectedPlaylist {
  background-color: rgba(60, 190, 254, 0.63); }

#containerCT {
  position: absolute;
  width: 15vmax;
  background-color: #cbcbcb;
  border: 3px solid #6e6d6d; }

.itemCT {
  padding: 5% 5%;
  border-bottom: 2px solid white; }
  .itemCT:hover {
    background-color: rgba(60, 190, 254, 0.63); }

#containerPlaylistCT {
  margin-left: 13vmax;
  width: 10vmax;
  background-color: #777777;
  position: absolute;
  background-color: #cbcbcb;
  border: 3px solid #6e6d6d; }
  #containerPlaylistCT > .playlist {
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-bottom: 0.4vmax;
    padding-top: 0.4vmax; }
    #containerPlaylistCT > .playlist:hover {
      background-color: rgba(60, 190, 254, 0.63); }

#formContainer {
  background-color: white;
  padding: 5vmin;
  border: 0.4vmin solid grey;
  border-radius: 5%;
  background: #f5f6f6;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f5f6f6 0%, #cfd0d3 19%, #cfd0d3 79%, #f5f6f6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f5f6f6 0%, #cfd0d3 19%, #cfd0d3 79%, #f5f6f6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f5f6f6 0%, #cfd0d3 19%, #cfd0d3 79%, #f5f6f6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: 7px 5px 32px 0px #3a4d90;
  -moz-box-shadow: 7px 5px 32px 0px #3a4d90;
  box-shadow: 7px 5px 32px 0px #3a4d90; }

#inputName {
  transition: all 0.5s linear;
  border-radius: 5px;
  margin: 5%; }

#containerButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.formButton {
  color: white;
  border: none;
  background-color: rgba(26, 119, 147, 0.71);
  padding: 1vmin;
  transition: all 0.3s linear; }
  .formButton:hover {
    background-color: rgba(26, 119, 147, 0.96);
    box-shadow: -3px 4px 2px 0px rgba(0, 0, 0, 0.75); }

/*# sourceMappingURL=style.css.map */
